{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Import Students</h2>

<form method="POST" enctype="multipart/form-data">

    <div class="mb-3">

        <label class="form-label">
            Select CSV File
        </label>

        <input
            type="file"
            name="csv_file"
            class="form-control"
            accept=".csv"
            required>

    </div>

    <button class="btn btn-success">
        Upload CSV
    </button>

    <a href="/students" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}